html,body,.container,.box{
				width: 100%;
				height: 100%;
				/*overflow: hidden;*/
			}
.container{
	padding-left:0 ;
	padding-right: 0;
}
.box{
	background-color: fuchsia;
}	
.top{
	width: 100%;
	height: 7%;
	background-color:rgb(255,75,76);
	color:#fff;
	font-family: "微软雅黑";
	position: relative;
	/*top: 0;*/
}
.main{
	height: 83%;
	background-color: #005AA0;
	overflow: scroll;
}
.min_main{
	background-color: aqua;
}
.first_banner{
	width: 100%;
	height:7rem;
	position: relative;
	background-color: hotpink;
	overflow: hidden;
}
.first_banner_ul{
	height: 100%;
	width: 300%;
	background-color: darkblue;
	position: absolute;
}
.first_banner_li{
	height:100%;
	width: 100%;
	float: left;
}
.first_banner_li>a>img{
	height: 100%;
	width: 33.33%;
}
.first_banner_pointer_ul{
	position: absolute;
	bottom: 0.5rem;
	margin: 0 auto;
	left: 0;
	right: 0;
	width: 6rem;
	height: 1rem;
	background-color: saddlebrown;
}
.first_banner_pointer_li{
	width: 1rem;
	height: 1rem;
	background-color: #fff;
	float: left;
	margin-left: 0.8rem;
	border-radius: 50%;
}

.first_select{
	width: 100%;
	height: 10rem;
	background-color: aquamarine;
}
.first_main_ul{
	width: 400%;
	position: absolute;
	overflow: hidden;
}
.first_main_li{
	width: 100%;
	height: 2rem;
}
.first_main_li:first-child{
	
}
.preferred_headline{
	width: 100%;
	height: 3.2rem;
	background-color: lawngreen;
	position: relative;
}
.min_headline{
	width: 85%;
	height: 46%;
	padding: 2% 3%;
	background-color: #fff;
	border-radius: 0.5rem;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}
.goods_list{
	width: 100%;
	height: 50rem;
	background-color: saddlebrown;
}
.footer{
	width: 100%;
	height: 13%;
	background-color: darkcyan;
	position: fixed;
}
.select_ul{
	width: 100%;
	height: 100%;
	/*background-color: salmon;*/
}
.select_li{
	float: left;
	width: 20%;
	height: 50%;
	/*padding: 0px 2.5%;*/
	text-align: center;
	/*background-color:saddlebrown;*/
	/*margin-bottom: 1rem;*/
}
.select_img{
	margin-top: 0.6rem;
	width: 40%;
	height: 50%;
}
.select_p{
	margin-top: 0.6rem;
}
.headline_pic{
	height: 100%;
}
/*S first_banner*/
        /*.first_banner { margin: 0 auto; width: 100%; height:3rem; position: relative;  border: 1px solid red}
        .first_banner_ul { height: 300px; position: absolute; left: 0; top: 0; width: 100000px;}
        .first_banner_li { float: left; width: 560px; height: 300px; }

        .first_banner_li img { width: 100%; height: 100%;}

        .prev_btn { position: absolute; top: 50%; margin-top: -25px; height: 50px; line-height: 50px; width: 60px; background-color: rgba(0,0,0,.3);color: rgba(255,255,255,.8); font-size: 30px; text-align: center; left: 0; display: none; font-family:"inherit" ;font-weight: bold}

        .next_btn{ right:0; left: auto}

        .first_banner:hover .prev_btn { display: block}
       .prev_btn:hover { background-color: rgba(0,0,0,.5); color: #fff; text-shadow: 0 0 3px #fff}*/




        /*.first_banner_pointer_ul { position: absolute; left: 0; bottom: 0; width: 100%; overflow: hidden; text-align: center; line-height: 30px; }
        .first_banner_pointer_ul li { display: inline-block; height: 14px; width: 14px; margin: 0 10px; border-radius: 50%; cursor: pointer;background-color:  #ccc; border: 2px solid #fff;}
        .first_banner_pointer_ul .active {background-color:  #ff7700}*/
/*E first_banner*/



/*S mine*/
.mine_box{
	width: 100%;
	height: 87%;
	background-color: darkgray;
	overflow: scroll;
}
.mine_min_box{
	height: auto;
	width: 100%;
	background-color: hotpink;
	position: relative;
}
.mine_top{
	height: 11rem;
	width: 100%;
	overflow: hidden;
}
.mine_top_ul{
	width: 20%;
	height: 5rem;
	float: right;
	margin-top: 0.3rem;
}
.mine_top_li{
	float:left;
}
.min_top_small_pic{
	width: 1rem;
	height: 1rem;
	margin-left: 1rem;
}
.mine_top_pic_div{
	text-align: center;
	width: 40%;
	height: 5rem;
	margin: 10% auto;
}
.mine_top_pic{
	margin: 0 auto;
	width: 4rem;
	height: 4rem;
}
.mine_top_pic_p{
	margin-top: 0.3rem;
}
.mine_top_right_p{
	width: 4.5rem;
	height: 1.5rem;
	line-height: 1.5rem;
	background-color: pink;
	float: right;
	border-top-left-radius:1rem ;
	border-bottom-left-radius: 1rem;
	position: absolute;
	right: 0;
	top: 4rem;
}
.mine_main{
	width: 100%;
	background-color: #ccc;
	height: auto;
}
.mine_more_one{
	width: 100%;
	height: 2.8rem;
	background-color: #fff;
	display: block;
	border-bottom: 0.1rem solid #ccc;
}
.mine_more_pic{
	height: 1.8rem;
	width: 1.8rem;
	margin-right: 1rem;
	margin: 0.4rem;
}
.mine_more_span1{
	display: inline-block;
	font: 1rem/2.8rem "微软雅黑";
}
.mine_more_span2{
	float:right ;
	background-color: #ccc;
	font: 1rem/2.8rem "微软雅黑";
}.mine_more_ul{
	width: 100%;
	height: 5rem;
	/*background-color: #fff;*/
}
.mine_more_li{
	width: 25%;
	float: left;
	text-align: center;
}
.mine_more_li_pic{
	width: 2rem;
	height: 2rem;
	margin-top: 1rem;
	margin-bottom: 0.5rem;
}
.mine_main_more_list{
	border-bottom: 0.1rem solid #ccc;
	background-color: #fff;
}
.footer_ul{
	width: 100%;
	height: 100%;
}
.footer_li{
	float: left;
	text-align: center;
	width: 20%;
	height: 100%;
	background-color: firebrick;
	border: none;
}
.footer_pic{
	width: 2.2rem;
	height: 2.2rem;
	margin-top: 1rem;
}
.footer_p{
	margin-top: 0.2rem;
}
/*E mine*/
/*S seller*/
.seller_top_p{
	text-align: center;
}
.seller_top_p{
 line-height: 2.8rem;	
}
.merchant_list_a{
	display: inline-block;
	width: 100%;
	height:4rem;
	background-color: #fff;
}
.seller_list_pic{
	float: left;
	width: 15%;
}
.seller_list_right{
	float: left;
	width: 85%;
}
.seller_star_span{
	color: orange;
}
.seller_p3{
	height: 2rem;
	width: 100%;
}
.seller_p3 .seller_p3_span3{
color: #666;
margin-right: 0.7rem;
float: right;

}

/*E seller*/
/*S event*/
.event_main{
	overflow: auto;
	text-align: center;
}
.event_pic{
	width: 80%;
}
.event_p{
	width: 90%;
	margin-top: 2rem;
	text-align: left;
	margin:  1rem auto;
	font: 0.8rem/1.4rem "微软雅黑";
}
.event_top{
	position: relative;
}
.event_top_pic1{
	float: left;
	height: 90%;
}
.event_top_p{
	float: left;
	position: absolute;
	left: 0;
	right: 0;
	width: 10%;
	margin:  0 auto;
	line-height: 2.2rem;
}
.event_top_pic2{
	float: right;
	height: 90%;
}

/*E event*/
/*S order*/
.order_main{
	height: 93%;
	background-color: firebrick;
}
.order_min_space{
	border-bottom: 1px solid #ccc;
	width: 92%;
	margin: 0 auto;
}

.order_min_space>p{
	margin: 1rem auto;
}
.order_a{
	display: inline-block;
	padding: 0.3rem 0.8rem;
	border: 1px solid #ccc;
	border-radius: 3px;
	color: orangered;
	margin-right: 0.5rem;
}
/*E order*/
/*S order_details*/
.order_details_p{
	padding: 1rem 0rem;
	border-bottom:1px solid #ccc;
}
.order_details_p>span{
	color: #ccc;
	display: inline-block;
	margin-right: 0.3rem;
	font-size:1rem ;
}
.order_details_weixin_div{
	width: 100%;
	height: auto;
	position: relative;
	text-align: center;
	background-color: white;
}
.order_details_weixin{
	margin: 2rem auto;
	position: relative;
	left: 0;
	right: 0;
	
}
.order_details_cell{
	width: 100%;
	height: 3rem;
	margin-top: 1rem;
	margin-bottom: 1rem;
	background-color: saddlebrown
}
.order_details_pic{
	float: left;
	height: 90%;
	margin: 0.2rem;
}
.order_details_mid_p{
	border-left: 1px solid #ccc;
	float: left;
	padding-left: 1rem;
}
.order_details_right_p{
	float: right;
}
.order_details_footer{
clear: left;	
margin-top: 1rem;
}

.order_details_main{
	height: 93%;
}
.order_details_footer>p{
	width: 95%;
	margin: 0 auto;
}
/*E order_details*/

