@-webkit-keyframes toTop {
  from {
    -webkit-transform: translateY(0%);
  }
  to {
    -webkit-transform: translateY(-100%);
  }
}
@keyframes toTop {
  from {
    transform: translateY(0%);
  }
  to {
    transform: translateY(-100%);
  }
}
.toTop {
  -webkit-animation: toTop 0.3s both;
  animation: toTop 0.3s both;
}
@-webkit-keyframes nextToTop {
  from {
    -webkit-transform: translateY(100%);
  }
  to {
    -webkit-transform: translateY(0%);
  }
}
@keyframes nextToTop {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0%);
  }
}
.nextToTop {
  -webkit-animation: nextToTop 0.3s both;
  animation: nextToTop 0.3s both;
}
@-webkit-keyframes tobottom {
  from {
    -webkit-transform: translateY(0%);
  }
  to {
    -webkit-transform: translateY(100%);
  }
}
@keyframes tobottom {
  from {
    transform: translateY(0%);
  }
  to {
    transform: translateY(100%);
  }
}
.tobottom {
  -webkit-animation: tobottom 0.3s both;
  animation: tobottom 0.3s both;
}
@-webkit-keyframes prevTobottom {
  from {
    -webkit-transform: translateY(-100%);
  }
  to {
    -webkit-transform: translateY(0%);
  }
}
@keyframes prevTobottom {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0%);
  }
}
.prevTobottom {
  -webkit-animation: prevTobottom 0.3s both;
  animation: prevTobottom 0.3s both;
}
@-webkit-keyframes toLeft {
  from {
    -webkit-transform: translateX(0%);
  }
  to {
    -webkit-transform: translateX(-100%);
  }
}
@keyframes toLeft {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-100%);
  }
}
.toLeft {
  -webkit-animation: toLeft 0.3s both;
  animation: toLeft 0.3s both;
}
@-webkit-keyframes nextToLeft {
  from {
    -webkit-transform: translateX(100%);
  }
  to {
    -webkit-transform: translateX(0%);
  }
}
@keyframes nextToLeft {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0%);
  }
}
.nextToLeft {
  -webkit-animation: nextToLeft 0.3s both;
  animation: nextToLeft 0.3s both;
}
@-webkit-keyframes toRight {
  from {
    -webkit-transform: translateX(0%);
  }
  to {
    -webkit-transform: translateX(100%);
  }
}
@keyframes toRight {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(100%);
  }
}
.toRight {
  -webkit-animation: toRight 0.3s both;
  animation: toRight 0.3s both;
}
@-webkit-keyframes prevToRight {
  from {
    -webkit-transform: translateX(-100%);
  }
  to {
    -webkit-transform: translateX(0%);
  }
}
@keyframes prevToRight {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0%);
  }
}
.prevToRight {
  -webkit-animation: prevToRight 0.3s both;
  animation: prevToRight 0.3s both;
}
.animated {
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.animated.alternate {
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}
.animated.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}
.delay_100ms {
  -webkit-animation-delay: 100ms;
  animation-delay: 100ms;
}
.delay_200ms {
  -webkit-animation-delay: 200ms;
  animation-delay: 200ms;
}
.delay_300ms {
  -webkit-animation-delay: 300ms;
  animation-delay: 300ms;
}
.delay_400ms {
  -webkit-animation-delay: 400ms;
  animation-delay: 400ms;
}
.delay_500ms {
  -webkit-animation-delay: 500ms;
  animation-delay: 500ms;
}
.delay_600ms {
  -webkit-animation-delay: 600ms;
  animation-delay: 600ms;
}
.delay_700ms {
  -webkit-animation-delay: 700ms;
  animation-delay: 700ms;
}
.delay_800ms {
  -webkit-animation-delay: 800ms;
  animation-delay: 800ms;
}
.delay_900ms {
  -webkit-animation-delay: 900ms;
  animation-delay: 900ms;
}
.delay_1s {
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}
.delay_1100ms {
  -webkit-animation-delay: 1.1s;
  animation-delay: 1.1s;
}
.delay_1200ms {
  -webkit-animation-delay: 1.2s;
  animation-delay: 1.2s;
}
.delay_1300ms {
  -webkit-animation-delay: 1.3s;
  animation-delay: 1.3s;
}
.delay_1400ms {
  -webkit-animation-delay: 1.4s;
  animation-delay: 1.4s;
}
.delay_1500ms {
  -webkit-animation-delay: 1.5s;
  animation-delay: 1.5s;
}
.delay_1600ms {
  -webkit-animation-delay: 1.6s;
  animation-delay: 1.6s;
}
.delay_1700ms {
  -webkit-animation-delay: 1.7s;
  animation-delay: 1.7s;
}
.delay_1800ms {
  -webkit-animation-delay: 1.8s;
  animation-delay: 1.8s;
}
.delay_1900ms {
  -webkit-animation-delay: 1.9s;
  animation-delay: 1.9s;
}
.delay_2s {
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
}
.delay_2100ms {
  -webkit-animation-delay: 2.1s;
  animation-delay: 2.1s;
}
.delay_2200ms {
  -webkit-animation-delay: 2.2s;
  animation-delay: 2.2s;
}
.delay_2300ms {
  -webkit-animation-delay: 2.3s;
  animation-delay: 2.3s;
}
.delay_2400ms {
  -webkit-animation-delay: 2.4s;
  animation-delay: 2.4s;
}
.delay_2500ms {
  -webkit-animation-delay: 2.5s;
  animation-delay: 2.5s;
}
.delay_2600ms {
  -webkit-animation-delay: 2.6s;
  animation-delay: 2.6s;
}
.delay_2700ms {
  -webkit-animation-delay: 2.7s;
  animation-delay: 2.7s;
}
.delay_2800ms {
  -webkit-animation-delay: 2.8s;
  animation-delay: 2.8s;
}
.delay_2900ms {
  -webkit-animation-delay: 2.9s;
  animation-delay: 2.9s;
}
.delay_3s {
  -webkit-animation-delay: 3s;
  animation-delay: 3s;
}
.delay_3100ms {
  -webkit-animation-delay: 3.1s;
  animation-delay: 3.1s;
}
.delay_3200ms {
  -webkit-animation-delay: 3.2s;
  animation-delay: 3.2s;
}
.delay_3300ms {
  -webkit-animation-delay: 3.3s;
  animation-delay: 3.3s;
}
.delay_3400ms {
  -webkit-animation-delay: 3.4s;
  animation-delay: 3.4s;
}
.delay_3500ms {
  -webkit-animation-delay: 3.5s;
  animation-delay: 3.5s;
}
.delay_3600ms {
  -webkit-animation-delay: 3.6s;
  animation-delay: 3.6s;
}
.delay_3700ms {
  -webkit-animation-delay: 3.7s;
  animation-delay: 3.7s;
}
.delay_3800ms {
  -webkit-animation-delay: 3.8s;
  animation-delay: 3.8s;
}
.delay_3900ms {
  -webkit-animation-delay: 3.9s;
  animation-delay: 3.9s;
}
.delay_4s {
  -webkit-animation-delay: 4s;
  animation-delay: 4s;
}
.delay_4100ms {
  -webkit-animation-delay: 4.1s;
  animation-delay: 4.1s;
}
.delay_4200ms {
  -webkit-animation-delay: 4.2s;
  animation-delay: 4.2s;
}
.delay_4300ms {
  -webkit-animation-delay: 4.3s;
  animation-delay: 4.3s;
}
.delay_4400ms {
  -webkit-animation-delay: 4.4s;
  animation-delay: 4.4s;
}
.delay_4500ms {
  -webkit-animation-delay: 4.5s;
  animation-delay: 4.5s;
}
.delay_4600ms {
  -webkit-animation-delay: 4.6s;
  animation-delay: 4.6s;
}
.delay_4700ms {
  -webkit-animation-delay: 4.7s;
  animation-delay: 4.7s;
}
.delay_4800ms {
  -webkit-animation-delay: 4.8s;
  animation-delay: 4.8s;
}
.delay_4900ms {
  -webkit-animation-delay: 4.9s;
  animation-delay: 4.9s;
}
.delay_5s {
  -webkit-animation-delay: 5s;
  animation-delay: 5s;
}
.delay_5100ms {
  -webkit-animation-delay: 5.1s;
  animation-delay: 5.1s;
}
.delay_5200ms {
  -webkit-animation-delay: 5.2s;
  animation-delay: 5.2s;
}
.delay_5300ms {
  -webkit-animation-delay: 5.3s;
  animation-delay: 5.3s;
}
.delay_5400ms {
  -webkit-animation-delay: 5.4s;
  animation-delay: 5.4s;
}
.delay_5500ms {
  -webkit-animation-delay: 5.5s;
  animation-delay: 5.5s;
}
.delay_5600ms {
  -webkit-animation-delay: 5.6s;
  animation-delay: 5.6s;
}
.delay_5700ms {
  -webkit-animation-delay: 5.7s;
  animation-delay: 5.7s;
}
.delay_5800ms {
  -webkit-animation-delay: 5.8s;
  animation-delay: 5.8s;
}
.delay_5900ms {
  -webkit-animation-delay: 5.9s;
  animation-delay: 5.9s;
}
.delay_6s {
  -webkit-animation-delay: 6s;
  animation-delay: 6s;
}
.delay_6100ms {
  -webkit-animation-delay: 6.1s;
  animation-delay: 6.1s;
}
.delay_6200ms {
  -webkit-animation-delay: 6.2s;
  animation-delay: 6.2s;
}
.delay_6300ms {
  -webkit-animation-delay: 6.3s;
  animation-delay: 6.3s;
}
.delay_6400ms {
  -webkit-animation-delay: 6.4s;
  animation-delay: 6.4s;
}
.delay_6500ms {
  -webkit-animation-delay: 6.5s;
  animation-delay: 6.5s;
}
.delay_6600ms {
  -webkit-animation-delay: 6.6s;
  animation-delay: 6.6s;
}
.delay_6700ms {
  -webkit-animation-delay: 6.7s;
  animation-delay: 6.7s;
}
.delay_6800ms {
  -webkit-animation-delay: 6.8s;
  animation-delay: 6.8s;
}
.delay_6900ms {
  -webkit-animation-delay: 6.9s;
  animation-delay: 6.9s;
}
.delay_7000ms {
  -webkit-animation-delay: 7s;
  animation-delay: 7s;
}
.delay_7100ms {
  -webkit-animation-delay: 7.1s;
  animation-delay: 7.1s;
}
.delay_7200ms {
  -webkit-animation-delay: 7.2s;
  animation-delay: 7.2s;
}
.delay_7300ms {
  -webkit-animation-delay: 7.3s;
  animation-delay: 7.3s;
}
.delay_7400ms {
  -webkit-animation-delay: 7.4s;
  animation-delay: 7.4s;
}
.delay_7500ms {
  -webkit-animation-delay: 7.5s;
  animation-delay: 7.5s;
}
.delay_7600ms {
  -webkit-animation-delay: 7.6s;
  animation-delay: 7.6s;
}
.delay_7700ms {
  -webkit-animation-delay: 7.7s;
  animation-delay: 7.7s;
}
.delay_7800ms {
  -webkit-animation-delay: 7.8s;
  animation-delay: 7.8s;
}
.delay_7900ms {
  -webkit-animation-delay: 7.9s;
  animation-delay: 7.9s;
}
.delay_8000ms {
  -webkit-animation-delay: 8s;
  animation-delay: 8s;
}
.delay_8100ms {
  -webkit-animation-delay: 8.1s;
  animation-delay: 8.1s;
}
.delay_8200ms {
  -webkit-animation-delay: 8.2s;
  animation-delay: 8.2s;
}
.delay_8300ms {
  -webkit-animation-delay: 8.3s;
  animation-delay: 8.3s;
}
.delay_8400ms {
  -webkit-animation-delay: 8.4s;
  animation-delay: 8.4s;
}
.delay_8500ms {
  -webkit-animation-delay: 8.5s;
  animation-delay: 8.5s;
}
.delay_8600ms {
  -webkit-animation-delay: 8.6s;
  animation-delay: 8.6s;
}
.delay_8700ms {
  -webkit-animation-delay: 8.7s;
  animation-delay: 8.7s;
}
.delay_8800ms {
  -webkit-animation-delay: 8.8s;
  animation-delay: 8.8s;
}
.delay_8900ms {
  -webkit-animation-delay: 8.9s;
  animation-delay: 8.9s;
}
.delay_9000ms {
  -webkit-animation-delay: 9s;
  animation-delay: 9s;
}
.delay_9100ms {
  -webkit-animation-delay: 9.1s;
  animation-delay: 9.1s;
}
.delay_9200ms {
  -webkit-animation-delay: 9.2s;
  animation-delay: 9.2s;
}
.delay_9300ms {
  -webkit-animation-delay: 9.3s;
  animation-delay: 9.3s;
}
.delay_9400ms {
  -webkit-animation-delay: 9.4s;
  animation-delay: 9.4s;
}
.delay_9500ms {
  -webkit-animation-delay: 9.5s;
  animation-delay: 9.5s;
}
.delay_9600ms {
  -webkit-animation-delay: 9.6s;
  animation-delay: 9.6s;
}
.delay_9700ms {
  -webkit-animation-delay: 9.7s;
  animation-delay: 9.7s;
}
.delay_9800ms {
  -webkit-animation-delay: 9.8s;
  animation-delay: 9.8s;
}
.delay_9900ms {
  -webkit-animation-delay: 9.9s;
  animation-delay: 9.9s;
}
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}
@-webkit-keyframes zoomIn {
  from {
    -webkit-transform: scale(0);
    opacity: 0;
  }
  to {
    -webkit-transform: scale(1);
    opacity: 1;
  }
}
@keyframes zoomIn {
  from {
    transform: scale(0);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
.zoomIn {
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn;
}
@-webkit-keyframes scaleAlways {
  from {
    -webkit-transform: scale(1.02);
  }
  to {
    -webkit-transform: scale(0.98);
  }
}
@keyframes scaleAlways {
  from {
    transform: scale(1.02);
  }
  to {
    transform: scale(0.98);
  }
}
@-webkit-keyframes bounceInDown {
  0%,
  100%,
  60%,
  75%,
  90% {
    -webkit-transition-timing-function: cubic-bezier(0.215, .61, .355, 1);
    transition-timing-function: cubic-bezier(0.215, .61, .355, 1);
  }
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -3000px, 0);
    transform: translate3d(0, -3000px, 0);
  }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, 25px, 0);
    transform: translate3d(0, 25px, 0);
  }
  75% {
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
  }
  90% {
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0);
  }
  100% {
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes bounceInDown {
  0%,
  100%,
  60%,
  75%,
  90% {
    -webkit-transition-timing-function: cubic-bezier(0.215, .61, .355, 1);
    transition-timing-function: cubic-bezier(0.215, .61, .355, 1);
  }
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -3000px, 0);
    -ms-transform: translate3d(0, -3000px, 0);
    transform: translate3d(0, -3000px, 0);
  }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, 25px, 0);
    -ms-transform: translate3d(0, 25px, 0);
    transform: translate3d(0, 25px, 0);
  }
  75% {
    -webkit-transform: translate3d(0, -10px, 0);
    -ms-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
  }
  90% {
    -webkit-transform: translate3d(0, 5px, 0);
    -ms-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0);
  }
  100% {
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }
}
.active .bounceInDown,
.bounceInDown {
  -webkit-animation-name: bounceInDown;
  animation-name: bounceInDown;
}
.scaleAlways {
  -webkit-animation-name: scaleAlways;
  animation-name: scaleAlways;
}
@-webkit-keyframes zoomInDown {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(.1, .1, .1) translate3d(0, -1000px, 0);
    transform: scale3d(.1, .1, .1) translate3d(0, -1000px, 0);
    -webkit-animation-timing-function: cubic-bezier(0.55, .055, .675, .19);
    animation-timing-function: cubic-bezier(0.55, .055, .675, .19);
  }
  60% {
    opacity: 1;
    -webkit-transform: scale3d(.475, .475, .475) translate3d(0, 60px, 0);
    transform: scale3d(.475, .475, .475) translate3d(0, 60px, 0);
    -webkit-animation-timing-function: cubic-bezier(0.175, .885, .32, 1);
    animation-timing-function: cubic-bezier(0.175, .885, .32, 1);
  }
}
@keyframes zoomInDown {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(.1, .1, .1) translate3d(0, -1000px, 0);
    -ms-transform: scale3d(.1, .1, .1) translate3d(0, -1000px, 0);
    transform: scale3d(.1, .1, .1) translate3d(0, -1000px, 0);
    -webkit-animation-timing-function: cubic-bezier(0.55, .055, .675, .19);
    animation-timing-function: cubic-bezier(0.55, .055, .675, .19);
  }
  60% {
    opacity: 1;
    -webkit-transform: scale3d(.475, .475, .475) translate3d(0, 60px, 0);
    -ms-transform: scale3d(.475, .475, .475) translate3d(0, 60px, 0);
    transform: scale3d(.475, .475, .475) translate3d(0, 60px, 0);
    -webkit-animation-timing-function: cubic-bezier(0.175, .885, .32, 1);
    animation-timing-function: cubic-bezier(0.175, .885, .32, 1);
  }
}
.zoomInDown {
  -webkit-animation-name: zoomInDown;
  animation-name: zoomInDown;
}
@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 50%, 0);
    transform: translate3d(0, 50%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 50%, 0);
    -ms-transform: translate3d(0, 50%, 0);
    transform: translate3d(0, 50%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }
}
.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}
@-webkit-keyframes starRun {
  0% {
    -webkit-transform: translate3d(100%, -100%, 0);
    transform: translate3d(100%, -100%, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes starRun {
  0%,
  100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, .61, .355, 1);
    transition-timing-function: cubic-bezier(0.215, .61, .355, 1);
  }
  0% {
    -webkit-transform: translate3d(100%, -100%, 0);
    -ms-transform: translate3d(100%, -100%, 0);
    transform: translate3d(100%, -100%, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
.starRun {
  -webkit-animation-name: starRun;
  animation-name: starRun;
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
}
@-webkit-keyframes bounceInRight {
  0%,
  100%,
  60%,
  75%,
  90% {
    -webkit-transition-timing-function: cubic-bezier(0.215, .61, .355, 1);
    transition-timing-function: cubic-bezier(0.215, .61, .355, 1);
  }
  0% {
    opacity: 0;
    -webkit-transform: translate3d(3000px, 0, 0);
    transform: translate3d(3000px, 0, 0);
  }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(-25px, 0, 0);
    transform: translate3d(-25px, 0, 0);
  }
  75% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }
  90% {
    -webkit-transform: translate3d(-5px, 0, 0);
    transform: translate3d(-5px, 0, 0);
  }
  100% {
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes bounceInRight {
  0%,
  100%,
  60%,
  75%,
  90% {
    -webkit-transition-timing-function: cubic-bezier(0.215, .61, .355, 1);
    transition-timing-function: cubic-bezier(0.215, .61, .355, 1);
  }
  0% {
    opacity: 0;
    -webkit-transform: translate3d(3000px, 0, 0);
    -ms-transform: translate3d(3000px, 0, 0);
    transform: translate3d(3000px, 0, 0);
  }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(-25px, 0, 0);
    -ms-transform: translate3d(-25px, 0, 0);
    transform: translate3d(-25px, 0, 0);
  }
  75% {
    -webkit-transform: translate3d(10px, 0, 0);
    -ms-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }
  90% {
    -webkit-transform: translate3d(-5px, 0, 0);
    -ms-transform: translate3d(-5px, 0, 0);
    transform: translate3d(-5px, 0, 0);
  }
  100% {
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }
}
.bounceInRight {
  -webkit-animation-name: bounceInRight;
  animation-name: bounceInRight;
}
@-webkit-keyframes busmove {
  0% {
    left: 0;
    opacity: 0;
  }
  1% {
    left: 0;
    opacity: 1;
  }
  100% {
    left: -90%;
    opacity: 1;
  }
}
@keyframes busmove {
  0% {
    left: 0;
    opacity: 0;
  }
  1% {
    left: 0;
    opacity: 1;
  }
  100% {
    left: -90%;
    opacity: 1;
  }
}
.busmove {
  -webkit-animation-name: busmove;
  animation-name: busmove;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
}
@-webkit-keyframes flyIn {
  0% {
    -webkit-transform: translate(100%, -100%);
  }
  100% {
    -webkit-transform: translate(0%, 0%);
  }
}
@keyframes flyIn {
  0% {
    transform: translate(100%, -100%);
  }
  100% {
    transform: translate(0%, 0%);
  }
}
.flyIn {
  -webkit-animation-name: flyIn;
  animation-name: flyIn;
}
@-webkit-keyframes qqpulse {
  0% {
    -webkit-transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.05);
  }
  100% {
    -webkit-transform: scale(1);
  }
}
@-moz-keyframes qqpulse {
  0% {
    -moz-transform: scale(1);
  }
  50% {
    -moz-transform: scale(1.05);
  }
  100% {
    -moz-transform: scale(1);
  }
}
.qqpulse {
  -webkit-animation-name: qqpulse;
  animation-name: qqpulse;
}
@-webkit-keyframes bounceInLeft {
  0%,
  60%,
  75%,
  90%,
  100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-3000px, 0, 0);
    transform: translate3d(-3000px, 0, 0);
  }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(25px, 0, 0);
    transform: translate3d(25px, 0, 0);
  }
  75% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }
  90% {
    -webkit-transform: translate3d(5px, 0, 0);
    transform: translate3d(5px, 0, 0);
  }
  100% {
    -webkit-transform: none;
    transform: none;
  }
}
@-webkit-keyframes bounceIn {
  0%,
  100%,
  20%,
  40%,
  60%,
  80% {
    -webkit-transition-timing-function: cubic-bezier(0.215, .61, .355, 1);
    transition-timing-function: cubic-bezier(0.215, .61, .355, 1);
  }
  0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }
  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }
  40% {
    -webkit-transform: scale3d(.9, .9, .9);
    transform: scale3d(.9, .9, .9);
  }
  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
  }
  80% {
    -webkit-transform: scale3d(.97, .97, .97);
    transform: scale3d(.97, .97, .97);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@keyframes bounceIn {
  0%,
  100%,
  20%,
  40%,
  60%,
  80% {
    -webkit-transition-timing-function: cubic-bezier(0.215, .61, .355, 1);
    transition-timing-function: cubic-bezier(0.215, .61, .355, 1);
  }
  0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    -ms-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }
  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    -ms-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }
  40% {
    -webkit-transform: scale3d(.9, .9, .9);
    -ms-transform: scale3d(.9, .9, .9);
    transform: scale3d(.9, .9, .9);
  }
  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    -ms-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
  }
  80% {
    -webkit-transform: scale3d(.97, .97, .97);
    -ms-transform: scale3d(.97, .97, .97);
    transform: scale3d(.97, .97, .97);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
.bounceIn {
  -webkit-animation-name: bounceIn;
  animation-name: bounceIn;
  -webkit-animation-duration: .75s;
  animation-duration: .75s;
}
@-webkit-keyframes qqflash {
  0%,
  50%,
  100% {
    opacity: 1;
  }
  25%,
  75% {
    opacity: 0.4;
  }
}
@-moz-keyframes qqflash {
  0%,
  50%,
  70%,
  90%,
  100% {
    opacity: 1;
  }
  25%,
  60%,
  80% {
    opacity: 0.4;
  }
}
.qqflash {
  -webkit-animation-name: qqflash;
  animation-name: qqflash;
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
}
@keyframes bounceInLeft {
  0%,
  60%,
  75%,
  90%,
  100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-3000px, 0, 0);
    transform: translate3d(-3000px, 0, 0);
  }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(25px, 0, 0);
    transform: translate3d(25px, 0, 0);
  }
  75% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }
  90% {
    -webkit-transform: translate3d(5px, 0, 0);
    transform: translate3d(5px, 0, 0);
  }
  100% {
    -webkit-transform: none;
    transform: none;
  }
}
.bounceInLeft {
  -webkit-animation-name: bounceInLeft;
  animation-name: bounceInLeft;
}
.qqshakeLarge {
  -webkit-animation-name: qqshakeLarge;
  animation-name: qqshakeLarge;
}
@-webkit-keyframes qqshakeLarge {
  0%,
  100% {
    -webkit-transform: translateY(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateY(-10px);
  }
  60%,
  80% {
    -webkit-transform: translateY(10px);
  }
}
@-moz-keyframes qqshakeLarge {
  0%,
  100% {
    -moz-transform: translateY(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    -moz-transform: translateY(-10px);
  }
  60%,
  80% {
    -moz-transform: translateY(10px);
  }
}
/*# sourceMappingURL=animate.css.map */
